/* header */
.header {
    padding: 20px 0;
}
.header__container {
}
.header__body {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__logo {
}
.header__logo--mobile {
    display: none;
}
.header__nav {
}
.header__icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 18px;
}
.header__translation {
}
.header__search {
}
.header__icon {
}
.header__icon img {
    width: 24px;
    height: 24px;
}
.header__icon--like img {
    width: 24px;
    height: 24px;
}
@media (max-width: 767.98px) {
    .header__icon {
        display: none;
    }
    .header__icons {
        gap: 10px;
    }
}
@media (max-width: 499.98px) {
    .header__logo {
        gap: 10px;
    }
}

/* nav */
.nav {
    position: relative;
}
.nav__line {
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 20px;
    height: 1px;
    background: var(--color-red);
    transition: left 0.3s ease-in-out, width 0.3s ease-in-out;
}
.nav__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 38px;
}
.nav__item {
    position: relative;
}
.nav__item:nth-child(4) {
    display: none;
}
.nav__link {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: var(--color-black);
    transition: color 0.3s ease-in-out;
}
.nav__list {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: var(--color--black);
    transition: all 0.3s ease-in-out;
}
.nav__link--btn {
    background-color: transparent;
}
.nav__link--btn::after {
    content: "";
    position: absolute;
    right: -16px;
    top: 50%;
    transform: translateY(-50%);
    width: 13px;
    height: 6px;
    background-image: url(../img/header/arrow-down.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: transform 0.3s ease-in-out;
}
.nav__link:hover {
    cursor: pointer;
    color: #A74F41;
}

.nav__item:hover > .dropdown {
    opacity: 1;
    visibility: visible;
}
.nav__item:hover > .nav__link--btn::after {
    margin-top: 2px;
    transform: translateY(-50%) rotate(180deg);
}

/* bropdown */
.dropdown {
    margin-top: 4px;
    position: absolute;
    top: 100%;
    left: 0;
    width: 250px;
    padding: 10px;
    z-index: 1;
    border: 1px solid var(--color-red);
    background-color: var(--color-peach);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}
.dropdown__list {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 5px;
}
.dropdown__item {
    width: 100%;
    transition: background-color 0.3s ease-in-out;
}
.dropdown__link {
    display: block;
    width: 100%;
    padding: 5px 15px;

    font-weight: 600;
    font-size: 16px;
    line-height: 120%;
    color: var(--color-black);
}
.dropdown__item:hover {
    background-color: #E0D4CE;
}
/* burger */
.burger {
    position: relative;
    width: 30px;
    height: 20px;
    display: none;
    border: none;
    padding: 0;
    cursor: pointer;
    background-color: transparent;
}
.burger__line {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 2px;
    background-color: var(--color-black);
    transform: translateY(-50%);
    transition: opacity 0.3s ease-in-out;
}
.burger::before,
.burger::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
   background-color: var(--color-black);
   transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, bottom 0.3s ease-in-out;
}
.burger::before {
    top: 0;
}
.burger::after {
    bottom: 0;
}
.burger--active .burger__line {
    opacity: 0;
}
.burger--active::before {
    top: 50%;
    transform: rotate(45deg);
}
.burger--active::after {
    bottom: auto;
    top: 50%;
    transform: rotate(-45deg);
}
.stop-scroll {
    overflow: hidden;
}


/* burger */
@media (max-width: 768.98px) {
    .header__logo--mobile {
        display: block;
    }
    .header__logo img {
        display: none;
    }
    .header__logo {
        display: flex;
        align-items: center;
        gap: 15px;
    }
    .nav__link--btn::after {
        left: 95px;
    }
    .nav__item:nth-child(4) {
        display: block;
        border-top: 1px solid var(--color-red);
        padding-top: 24px;
    }

    .burger {
        display: block;
    }
    .nav__line {
        display: none;
    }

.nav  {
    border-top: 1px solid var(--color-red);
    position: fixed;
    left: 0;
    top: 82px;
    z-index: 50;
    overflow-y: auto;
    padding: 30px 0;
    width: 60%;
    max-width: 300px;
    height: calc(94vh - 63px);
    background-color: var(--color-white);
    transform: translateX(-100%);
    transition: transform 0.6s ease-in-out;
}
.nav--visible {
    transform: none;
    box-shadow: 0px 0 8px 0px rgb(11 11 12 / 25%);
}
.nav__list {
    flex-direction: column;
    gap: 24px;
}
.nav__item {
    width: 100%;
    padding-left: 20px;
}
.nav__link {
    display: inline-block;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
}
@media (max-width: 499.98px) {
    .nav {
        width: 100%;
        max-width: 100%;
    }
    .nav__link--btn::after {
        left: 95px;
    }
}

}
/* translate */
.change-lang {
    width: 100%;
    /* padding: 10px; */
    font-weight: 400;
    font-size: 20px;
    line-height: 22px;
    color: var(--color-black);
    border: none;
    background-color: transparent;
    outline-color: var(--color-red);
    font-family: 'Manrope';
    cursor: pointer;
    /* -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none; */
}
.change-lang:focus {
    background-color: #F1ECE9;
}

/* search */
.search-box {
    display: flex;
    align-items: center;
  }
  
  .search-btn {
    color: var(--color-black);
    font-size: 28px;
    float: right;
    width: 50px;
    
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;
  }
  .search-btn svg path {
    transition: fill 0.3s ease-in-out;
  }
  
  .search-input {
    border: none;
    background: none;
    outline: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    float: left;
    padding: 0;
    color: var(--color-black);
    font-size: 20px;
    transition: all 0.3s ease-in-out;
    width: 0;
    font-family: 'Manrope';
  }
  
  .search-box:hover > .search-input {
    width: 250px;
    padding: 8px 14px;
    border: 1px solid var(--color-red);
  }
  .search-box:hover > .search-btn {
    background: var(--color-red);
    padding: 12px;
  }
  
  .search-box:hover > .search-btn svg path {
    fill: var(--color-white);
  }

  ::-webkit-input-placeholder { /* WebKit browsers */
    color: var(--color-red);
 }
 :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: var(--color-red);
 }
 ::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: var(--color-red);
 }
 :-ms-input-placeholder { /* Internet Explorer 10+ */
    color: var(--color-red);
 }

 @media (max-width: 499.98px) {
    .search-box:hover > .search-btn {
        padding: 5px;
    }
    .search-btn {
        width: 100%;
    }
    .search-box:hover > .search-input {
        max-width: 75px;
        padding: 5px 5px;
    }
    .search-input {
        font-size: 16px;
    }
 }

 /* get-started */

 .get-started {
    padding: 120px 0;
    position: relative;
}
.get-started::after {
    content: "";
    position: absolute;
    top: -60px;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url(../img/get-started/logo.png);
    background-position: right;
    background-repeat: no-repeat;
    /* background-size: cover; */
}
.get-started__container {
}
.get-started__content {
    width: 50%;
}
.get-started__title {
    padding-bottom: 20px;
    font-weight: 400;
    font-size: 80px;
    line-height: 120%;
    text-transform: uppercase;
    font-family: 'Caveat', cursive;
    color: #301F16;
}
.get-started__title--flex {
    display: flex;
    align-items: center;
    gap: 30px;
}
.get-started__title--flex span {
    font-weight: 300;
    font-size: 16px;
    line-height: 130%;
    max-width: 120px;
}
.get-started__button {
    max-width: 210px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    color: var(--color-peach);
    background-color: var(--color-red);
}
.get-started__button::after {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    background-image: url(../img/get-started/Arrow.svg);
    background-position: center;
    background-repeat: no-repeat;

}
.get-started__image {
    display: none;
}
.get-started__image img {
        max-width: 100%;
}

@media (max-width: 991.98px) {
    .get-started__content {
        width: 100%;
    }
    .get-started::after {
        display: none;
    }
    .get-started__image {
        display: block;
        text-align: end;
    }
    .get-started__content {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .get-started {
        padding: 50px 0;
    }
}

@media (max-width: 499.98px) {
    .get-started__title {
        font-weight: 400;
        font-size: 60px;
        line-height: 100%;
    }
    .get-started__image {
        margin-top: 50px;
    }
    .get-started__title--flex {
        gap: 10px;
    }
}


/* cart */
.cart {
	position: relative;
	transition: background-color 0.3s;
}

.cart.active:hover {
	cursor: pointer;
	background: rgba(93, 113, 221, 0.1);
	transition: background-color 0.3s;
}

.header__cart {
}

.cart__quantity {
	position: absolute;
	right: -6px;
	bottom: 4px;
    padding-left: 1px;
	background-color: var(--color-red);
	border-radius: 100%;
	color: var(--color-peach);
	font-size: 12px;
	height: 14px;
	width: 14px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
}

.cart-content {
    z-index: 2;
	cursor: default;
	width: 400px;
	position: absolute;
	top: 100%;
	right: 0;
	background-color: var(--color-peach);
	box-shadow: 0px 4px 4px rgba(135, 135, 135, 0.25);
	opacity: 0;
	visibility: hidden; 
	transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.cart.active:hover .cart-content {
	opacity: 1;
	visibility: visible;
	transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.cart-content__list {
	max-height: 330px;
}

.cart-product {
	display: flex;
	align-items: center;
    justify-content: space-between;
	padding: 12px 20px;
	padding-right: 13px;
	transition: background-color 0.3s;
    gap: 20px;
}

.cart-product:hover {
    cursor: pointer;
	background: #e6ddd8;
	transition: background-color 0.3s;
}

.cart-product__img {
	max-width: 100px;
	max-height: 100px;
	object-fit: cover;
}
.cart-product__text {
    max-width: 300px;
    width: 100%;
}
.cart-product__title {
	font-weight: 500;
    font-size: 18px;
    line-height: 160%;
	color: var(--color-black);
}
.cart-product__ml {
    font-weight: 300;
    font-size: 16px;
    line-height: 130%;
    color: #4F4B4B;
    margin-bottom: 16px;
}
.cart-product__price {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
    font-size: 16px;
    line-height: 130%;
	color: var(--color-black);
}

.cart-product__delete {
	border: none;
	background-color: transparent;
	cursor: pointer;
	background-image: url("../img/header/trash.svg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	flex-shrink: 0;
	width: 20px;
	height: 20px;
	padding: 0;
}
.cart-product__item {
    display: flex;
    justify-content: end;
    width: 100%;
    align-self: flex-start;
}
.cart-content__bottom {
	padding: 20px;
	border-top: 1px solid #eaeaea;
	display: flex;
	justify-content: space-between;
    flex-direction: column;
}

.cart-content__fullprice {
	font-weight: 400;
    font-size: 18px;
    line-height: 160%;
	color: var(--color-black);
	display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.fullprice {
	font-weight: 400;
    font-size: 18px;
    line-height: 160%;
	color: var(--color-black);
}
.cart-content__delivery {
    margin-top: 10px;
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
	color: var(--color-black);
	display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}
.cart-content__btn {
	margin-top: 24px;
    color: var(--color-peach);
    background-color: var(--color-red);
    transition: background-color 0.3s ease-in-out;
}
.cart-content__btn:hover {
    background-color: #944639;
}
.simplebar-track.simplebar-vertical {
	width: 4px;
	background: rgba(77, 77, 77, 0.1);
	border-radius: 5px;
	right: 5px;
	margin-top: 20px;
	height: calc(100% - 40px);
}

.simplebar-track.simplebar-vertical .simplebar-scrollbar::before {
	background: rgba(77, 77, 77, 0.2);
	border-radius: 5px;
	width: 100%;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	opacity: 1;
}
@media (max-width: 440.98px) {
    .cart-content {
        margin-top: 10px;
    }
    .cart-content {
        width: 300px;
        right: -10px;
    }
    .cart-content__delivery {
        align-items: flex-start;
    }
}

/* modal */
.order-modal {
	padding: 40px;
	width: 592px;
	min-height: 542px;
}

.order-modal__top {
	display: flex;
	justify-content: space-between;
}

.order-modal__title {
	margin-bottom: 40px;
	font-weight: 600;
    font-size: 20px;
    line-height: 120%;
	color: var(--color-black);
}

.order-modal__number {
	font-weight: 400;
	font-size: 12px;
	line-height: 20px;
	text-align: right;
	color: var(--color-light);
}

.order-modal__info {
	margin-bottom: 20px;
	border: 1px solid var(--color-red);
	border-radius: 4px;
	padding: 34px 40px;
	font-weight: 300;
    font-size: 16px;
    line-height: 130%;
	color: var(--color-greey);
    background-color: var(--color-peach);
}

.order-modal__info span {
    margin-left: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;
    color: var(--color-black);
}

.order-modal__info-item:not(:last-child) {
	margin-bottom: 15px;
}

.order-modal__btn {
	position: relative;
	background-color: transparent;
	border: none;
	cursor: pointer;
	padding: 0;
	font-weight: 400;
	font-size: 14px;
	line-height: 19px;
	color: var(--color-light);
}

.order-modal__btn::after {
	content: "";
	position: absolute;
	right: -10px;
	top: 50%;
	transform: translateY(-50%);
	width: 7px;
	height: 7px;
	background-image: url("../img/header/arrow-down.svg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.order-modal__btn.open::after {
	transform: translateY(-50%) rotate(180deg);
}

.order {
}

.order__label {
	margin-bottom: 14px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-weight: 300;
    font-size: 16px;
    line-height: 130%;
	color: #191D23;
}

.order__input {
	padding-left: 14px;
	padding-right: 14px;
	width: 240px;
	height: 45px;
	background: var(--color-peach);
	border-radius: 4px;
	border: none;
}

.order__input::placeholder {
	color: #A9A9A9;
}

.order-product {
    padding: 10px;
	display: flex;
	align-items: center;
	justify-content: space-between;
    border: 1px solid var(--color-red);
}

.order-modal__list {
	padding-top: 20px;
	padding-bottom: 20px;
}

.order-product__img {
	max-width: 80px;
    width: 100%;
	max-height: 70px;
	object-fit: cover;
	margin-right: 10px;
}

.order-modal__list {
	display: none;
}

.order-modal__item:not(:last-child) {
	margin-bottom: 14px;
}

.order-product__text {
    max-width: 170px;
    width: 100%;
}

.order-product__title {
    margin-bottom: 10px;
	font-weight: 600;
    font-size: 20px;
    line-height: 120%;
	color: var(--color-black);
}
.ml-order {
    margin-bottom: 0;
}
.order-product__price {
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	font-size: 14px;
	line-height: 16px;
	color: var(--color-dark);
}

.order-product__delete {
	border: none;
    background-color: transparent;
    cursor: pointer;
    background-image: url(../img/header/trash.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    flex-shrink: 0;
    width: 20px;
    height: 20px;
    padding: 0;
}
.order__button {
    margin-top: 40px;
    display: flex;
    justify-content: center;
}
.order__btn {
    color: var(--color-peach);
    background-color: var(--color-red);
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}
.order__btn:hover {
    color: var(--color-red);
    background-color: var(--color-peach);
}

@media (max-width: 767.98px) {
    .order-modal {
        max-width: 450px;
        width: 100%;
    }
}

@media (max-width: 499.98px) {
    .order-modal {
        max-width: 300px;
        width: 100%;
        padding: 10px;
    }
    .order-modal__info {
        padding: 10px;
    }
    .order-modal__top {
        flex-direction: column;
        align-items: center;
    }
    .order-modal__title {
        font-size: 16px;
        margin-bottom: 10px;
    }
    .order-modal__number {
        padding: 0;
        margin-bottom: 10px;
    }
    .order-modal__number {
        padding: 10px;
    }
    .order-product {
        padding: 10px;
        gap: 10px;
    }
    .order-product__img {
        margin-right: 0px;
    }
    .order-product__title {
        font-size: 16px;
    }
    .cart-product__ml {
        font-size: 12px;
    }
    
    .order-product__delete {
        width: 16px;
        height: 16px;
    }
    .order__label {
        gap: 5px;
    }
    .order__input {
        width: 200px;
    }
}
/* products */

.products {
    margin-top: 120px;

}
.products__row {
}

.row {
    margin-bottom: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 20px;
}
.row__item {
    align-self: flex-end;
}
.row__text {
    margin-bottom: 10px;
    font-weight: 300;
    font-size: 16px;
    line-height: 130%;
    text-transform: uppercase;
    color: var(--color-black);
}
.row__title {
    
}
.row__button {
    display: flex;
    align-items: center;
    gap: 8px;
}

.products__body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    column-gap: 10px;
    row-gap: 40px;
}

.product {
    text-align: center;
}

.product__image {
	position: relative;
	overflow: hidden;
	display: block;
	height: 100%;
    margin-bottom: 12px;
}
.product__image:hover .product__btn {
    opacity: 1;
    visibility: visible;
}
.product__image:hover .product__row {
    opacity: 1;
    visibility: visible;
}
.product__row {
    
    padding: 10px 24px;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    bottom: 48px;
    left: 0;
    width: 100%;
    z-index: 1;
    border-radius: 0;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}
.product__link {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: var(--color-red);
    transition: color 0.3s ease-in-out;
}
.product__row:hover .product__link {
    color: var(--color-peach);
}
.product__row {
    background-color: var(--color-peach);
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out; 
}
.product__row:hover {
    cursor: pointer;
    background-color: #944639;
}

.items {
    display: none;
	font-family: 'Merriweather', serif;
	background: #f2ede7;
	border-radius: 8px;
	width: 120px;
	display: flex;
	font-size: 18px;
	height: 30px;
	overflow: hidden;
}

.items__control {
	width: 40px;
	cursor: pointer;
	transition: 0.2s ease-in;
	text-align: center;
}

.items__control:hover {
    background: #eb5a1e;
    color: #FFF;
}

.items__current {
	width: 40px;
}

.product__type {
    margin-bottom: 8px;
    font-weight: 300;
    font-size: 12px;
    line-height: 120%;
    text-transform: uppercase;
    color: #717171;
}
.product__title  a {
	margin-bottom: 8px;
	font-weight: 600;
    font-size: 20px;
    line-height: 120%;
	color: var(--color-black);
}

.product-price {
	display: flex;
	align-items: center;
    justify-content: center;
}

.product-price__current {
	margin-right: 12px;
	font-size: 24px;
	color: var(--color-dark);
}

.product-price__old {
	font-size: 12px;
	color: var(--color-light);
	text-decoration: line-through;
}

.product__btn {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    border-radius: 0;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}
.product__btn:disabled {
    opacity: 0.4;
    pointer-events: none;
}

@media (max-width: 991.98px) {
    .products__body {
        justify-content: center;
    }
}

/* fragrance */
.fragrance {
    margin-top: 136px;
}
.fragrance__body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}
.fragrance__image {

}
.fragrance__image img {
    max-width: 100%;
}
.fragrance__content {

}
.fragrance__text {
    max-width: 419px;
    width: 100%;
    margin-top: 24px;
    margin-bottom: 56px;
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    color: #4F4B4B;
}
.fragrance__button {
    max-width: 215px;
}
@media (max-width: 767.98px) {
    .fragrance__body {
        flex-wrap: wrap;
    }
    .fragrance {
        margin-top: 100px;
    }
    .fragrance__content {
        padding: 0 20px;
    }
}

/* info-content */
.info-content {
    margin: 90px auto 0;
    padding-top: 30px;
    max-width: 1200px;
    border-top: 1px solid #E0D4CE;
}
.info-content--mt {
    margin: 0 auto;
}
.info-content__container {
}
.info-content__body {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;
}
.info-content__item {
}
.info-content__title {
    font-weight: 500;
    font-size: 32px;
    line-height: 140%;
    color: var(--color-black);
}
.info-content__text {
    margin-bottom: 36px;
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    color: #4F4B4B;
}
.info-content__button {
    display: flex;
    align-items: center;
    gap: 8px;
    max-width: 204px;
}
@media (max-width: 768.98px) {
    .info-content__body {
        flex-wrap: wrap;
    }
    .info-content__title {
        font-weight: 500;
    font-size: 20px;
    line-height: 140%;
    }
    .info-content__text {
        font-weight: 400;
        font-size: 16px;
        line-height: 160%;
    }
}

/* showrooms */
.showrooms {
    margin-top: 120px;
    border-top: 1px solid #E0D4CE;
    padding-top: 40px;

}
.showrooms__container {
}
.showrooms__body {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;

}
.showrooms__image {
}
.showrooms__image img {
    max-width: 100%;
}
.showrooms__content {
}
.showrooms__row {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.showrooms__row--fs {
    align-items: flex-start;
}
.showrooms__title {
    max-width: 380px;
    margin-bottom: 44px;
}
.showrooms__Addresses {
    font-weight: 300;
    font-size: 16px;
    line-height: 130%;
    color: #4F4B4B;
    text-transform: uppercase;
}
.showrooms__text {
    max-width: 244px;
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    color: #4F4B4B;
}
.showrooms__button {
    display: flex;
    align-items: center;
    gap: 10px;
}
.showrooms__img img {
    transition: transform 0.3s ease-in-out;
}
.showrooms__img img:hover {
    cursor: pointer;
    transform: scale(1.1);
}
.img-showrooms {
}
.img-showrooms__text {
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    color: var(--color-red);
}

@media (max-width: 991.98px) {
    .showrooms__body {
        flex-wrap: wrap;
        justify-content: center;
    }
}
@media (max-width: 599.98px) {
    .showrooms__row {
        flex-wrap: wrap;
        row-gap: 20px;
        justify-content: center;
    }
}
@media (max-width: 499.98px) {
    .showrooms__image {
        display: none;
    }
    .showrooms__Addresses {
        display: none;
    }
    .showrooms__title {
        margin-bottom: 20px;
    }
}

/* categories */

.categories {
    margin-top: 120px;
    padding-top: 40px;
    border-top: 1px solid #E0D4CE;
}
.categories__container {
}
.categories__row {
}
.categories__body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 10px;
    row-gap: 26px;
    flex-wrap: wrap;
}
.categories__item {
}
.categories__image {
    margin-bottom: 12px;
}
.categories__title {
    font-weight: 600;
    font-size: 18px;
    line-height: 130%;
    text-transform: uppercase;
    color: var(--color-black);
}

@media (max-width: 767.98px) {
    .categories__body {
        justify-content: center;
    }
}

@media (max-width: 499.98px) {
    .categories__image img {
        width: 300px;
        object-fit: cover;
    }
}

/* interesting */
.interesting {
    margin-top: 120px;
}
.interesting__container {
}
.interesting__body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 10px;
    row-gap: 30px;
    flex-wrap: wrap;
}
.interesting__item {
    text-align: center;
}

.interesting__image {
    margin-bottom: 12px;
}
.interesting__type {
    margin-bottom: 8px;
    font-weight: 300;
    font-size: 12px;
    line-height: 120%;
    text-transform: uppercase;
    color: #717171;
}
.interesting__title {
    margin-bottom: 8px;
    font-weight: 600;
    font-size: 20px;
    line-height: 120%;
    color: var(--color-black);
}
.interesting__price {
    font-weight: 600;
    font-size: 20px;
    line-height: 120%;
    color: var(--color-black);
}
@media (max-width: 991.98px) {
    .interesting__body {
        justify-content: center;
    }
}
@media (max-width: 767.98px) {
    .interesting__item {
        max-width: 224px;
    }
    .interesting__image img {
        max-width: 100%;
    }
}
@media (max-width: 499.98px) {
    .interesting__title {
        font-weight: 400;
        font-size: 18px;
        line-height: 160%;
    }
    .interesting__price {
        font-size: 16px;
    }
    .interesting__item {
        max-width: 100%;
    }
}

/* footer */

.footer {
    margin-top: 120px;
    padding-top: 80px;
    border-top: 1px solid #E0D4CE;
}
.footer__container {
}
.footer__body {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    column-gap: 10px;
    row-gap: 30px;
}
.footer__item {
}
.footer__list {
}
.footer__row {
}
.footer__row:not(:first-child) {
    margin-bottom: 16px;
}
.footer__title {
    margin-bottom: 30px;
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    color: var(--color-black);
}
.footer__link {
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: var(--color-black);
}
.footer__copiryght {
    padding: 60px 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: var(--color-black);
}

@media (max-width: 767.98px) {
    .footer__body {
        flex-wrap: wrap;
    }
}
@media (max-width: 499.98px) {
    .footer {
        padding-top: 40px;
    }
}

/* scroll-top */
.btn-top {
    display: none;
    cursor: pointer;
    position: fixed; 
    bottom: 70px;
    right: 4%;
    z-index: 29;
    width: 50px;
    height: 50px;
    background: url(../img/arrow-top.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
    transform: rotate(0deg);
    color: #BB8C5F;
    border: none;
  }
  @media (max-width: 499.98px) {
    .btn-top {
        right: 10px;
        bottom: 20px;
    }
  }